---
import ThemeButton from "@/components/ThemeButton.astro";
import CurrentTime from "@/components/CurrentTime";
import "../styles/global.css"; // Importación de los estilos de TailwindCSS

interface Props {
    title: string;
    lastUpdate: number;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <!-- Metadatos básicos -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>

        <!-- SEO -->
        <meta
            name="description"
            content="Eventos deportivos en vivo y actualizados. Encuentra información sobre tus deportes favoritos."
        />
        <meta name="author" content="Tu Nombre o Nombre de la Empresa" />
        <meta
            name="keywords"
            content="eventos deportivos en vivo, resultados deportivos, fútbol profesional, baloncesto NBA, tenis Grand Slam, estadísticas deportivas, noticias de deportes, ligas deportivas, atletas destacados, competiciones internacionales"
        />
        <meta name="robots" content="index, follow" />
        <link rel="canonical" href={Astro.url} />

        <!-- Favicon -->
        <link rel="icon" type="image/webp" href="/favicon.webp" />

        <!-- Tema -->
        <meta name="theme-color" content="#4a5568" />

        <!-- Open Graph -->
        <meta property="og:title" content={title} />
        <meta
            property="og:description"
            content="Eventos deportivos en vivo y actualizados. Encuentra información sobre tus deportes favoritos."
        />
        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:image" content="/og-image.webp" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
        <meta
            property="og:image:alt"
            content="Imagen de AceSports deportivos en vivo"
        />

        <!-- Twitter Card -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@tu_cuenta_de_twitter" />
        <meta name="twitter:title" content={title} />
        <meta
            name="twitter:description"
            content="Eventos deportivos en vivo y actualizados. Encuentra información sobre tus deportes favoritos."
        />
        <meta name="twitter:image" content="/og-image.webp" />
        <meta
            name="twitter:image:alt"
            content="Imagen de AceSports deportivos en vivo"
        />
    </head>
    <body
        class="container mx-auto bg-white dark:bg-gray-900 text-purple-500 dark:text-gray-50 transition-colors duration-300"
    >
        <nav class="sticky top-12 z-50 flex justify-center">
            <div
                class="bg-gray-100 dark:bg-gray-800 rounded-full shadow-xl px-4 py-2 flex items-center space-x-2 max-w-4xl w-full gap-x-2"
            >
                <h1 class="text-lg font-bold truncate hidden md:block">
                    {title}
                </h1>
                <small
                    class="text-sm text-emerald-500 dark:text-gray-200
                hidden md:block"
                    >Current Time: <CurrentTime client:load /></small
                >
                <div class="flex-grow"></div>
                <ThemeButton />
            </div>
        </nav>
        <slot />
    </body>
</html>
